#===============================================================================
# File Name   : .gitignore
# Project     : Kit-3 8-bit Computer
# Author      : Ryan Clarke
# E-mail      : kj6msg@icloud.com
#===============================================================================


#= VIVADO ======================================================================
*.xpr
*.wcfg
*.cache
*.hw
*.ip_user_files
*.runs
*.sim
*.srcs

#= CA65 ========================================================================
*.lst
*.o
*.map
*.bin

#= MEMORY ======================================================================
*.mem
!font.mem
